################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Derivation/v15
/Derivation/bin/Debug
/Derivation/obj/Debug
/MathAPI/bin
/MathAPI/obj/Debug
/packages
